body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #000000e4; /* A light grey background */
    color: #e7fc00;
}

h1 {
    color: #4000f0;
}

p {
    line-height: 1.6;
}